OLLAMA_HOST=http://ollama:11434
MODEL_NAME=mistral
MCP_SERVER_URL=http://mcp-server:8000/sse
RUN_INTERVAL_MINUTES=60
JOB_CATEGORIES=QA,Embedded

EMAIL_FROM=your@gmail.com
EMAIL_TO=your@gmail.com
EMAIL_PASSWORD=xxxx xxxx xxxx xxxx
